version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
nuget:
  disable_publish_on_pr: true
build_script:
- ps: .\Build.ps1
test: off
artifacts:
- path: .\artifacts\win10-x64
  name: dbf-win10-x64
- path: .\artifacts\osx.10.12-x64
  name: dbf-osx.10.12-x64
- path: .\artifacts\ubuntu.14.04-x64
  name: dbf-ubuntu.14.04-x64
deploy:
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: QTQilDNggR/l1Pkqlh7w+6y1cGtCcIyli5vx3ph+Q4I5F0Q6eNDKC1wJQN69rHO9
  artifact: artifacts\dbf-win10-x64.zip,artifacts\dbf-osx.10.12-x64.zip,artifacts\dbf-ubuntu.14.04-x64.zip
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true
